<!doctype html>
<html lang=ru>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=description content="">
<meta name=viewport content="width=device-width,initial-scale=1">
<title>Разработка веб-сервисов</title>
<meta name=msapplication-tap-highlight content=no>
<link rel=manifest href=manifest.json>
<meta name=mobile-web-app-capable content=yes>
<meta name=application-name content="Разработка веб-сервисов">
<link rel=icon sizes=192x192 href="{{ settings['img_path'] }}touch/touch-logo@2x.png>
<meta name=apple-mobile-web-app-capable content=yes>
<meta name=apple-mobile-web-app-status-bar-style content=black>
<meta name=apple-mobile-web-app-title content="Разработка веб-сервисов">
<link rel=apple-touch-icon href="{{ settings['img_path'] }}touch/touch-logo@2x.png">
<meta name=theme-color content=#2F3BA2>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css>
<link rel=stylesheet href="{{ settings['styles_path'] }}">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i|Montserrat" rel=stylesheet>
<section class=header>
    <div class=header__top>
        <div class="header__top-container container">
            <div class="lang-switcher header__top-container-lang-sw"><a
                    class="lang-switcher__link lang-switcher__link_active" href=index-ru.html>ru</a> <span
                    class=lang-switcher__divider>|</span> <a class=lang-switcher__link href=index-en.html>en</a></div>
            <div class="phone-email header__top-container-phone-email"><a href=mailto:info@cbideas.com
                                                                          class="phone-email__text phone-email__text_email">info@cbideas.com</a>
                <span class="phone-email__text phone-email__text_phone">8 800 000 0001</span></div>
        </div>
    </div>
    <div class=header__menu>
        <div class="header__menu-container container">
            <div class="logo header__menu-container-logo"><a class=logo__link href=/><img class=logo__pic
                                                                                          src="{{ settings['js_path'] }}touch/touch-logo@2x.png"
                                                                                          alt="Cloud bridge ideas"></a>
            </div>
            <nav class="main-menu header__menu-container-main-menu"><a class=main-menu__link data-scroll href=#about-us>О
                нас</a> <a class=main-menu__link data-scroll href=#tech>Технологии</a> <a class=main-menu__link
                                                                                          data-scroll
                                                                                          href=#tech-processes>Процессы</a>
                <a class=main-menu__link data-scroll href=#portfolio>Портфолио</a></nav>
        </div>
    </div>
    <div class=header__promo>
        <div class="header__promo-container container">
            <div class=promo>
                <div class=promo__row>
                    <div class=promo__col><h1 class=promo__title>Разработка веб-сервисов повышенной сложности</h1>
                        <h2 class=promo__sub-title>И сопутствующей инфраструктуры</h2>
                        <button class=promo__button>обсудить ваш проект</button>
                    </div>
                    <div class=promo__col>
                        <div class=promo__pic><img src="{{ settings['img_path'] }}changal-lend.jpg" alt="Разработка веб-сервисов
                        повышенной сложности"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id=about-us class="about-team container">
    <div class=about-team__main><h3 class="common__title about-team__title">О команде</h3>
        <p class="common__text about-team__text">Обладаем многолетним опытом в создании высоконагруженных веб-приложений
            и построением сопутствующей инфраструктуры любой сложности на современном стеке технологий. Осуществляем
            полный цикл разработки: от идеи и до запуска продукта и его дальнейшего сопровождения.</div>
    <aside class=about-team__aside><p class=common__quote>Мы любим изучать — учиться и применять навыки в реальных
        проектах.</aside>
</section>
<section class=processes>
    <div class="processes__container container"><h3 class="processes__title common__sub-title common__sub-title_orange">
        Agile-подход процесса разработки</h3>
        <div class=processes__content>
            <aside class=processes__aside><p class="processes__quote common__quote">Мы понимаем, что изначальная идея
                может меняться во время разработки.</aside>
            <p class="processes__text common__text">Для нас «agile» (гибкая мето- дология разработки) — это не просто
                модное слово, а принцип работы команды.
            <p class="processes__text common__text">И потому чутко относимся к вашему бизнесу и стараемся помочь вам
                реализовать весь его потенциал.
            <p class="processes__text common__text">Заказчик всегда имеет возможность наблюдать за ходом разработки,
                корректировать фунуциональность проекта, тестировать или запускать его.</div>
    </div>
</section>
<section id=tech class=tech-stack data-emergence=hidden>
    <div class="tech-stack__container container"><h3 class="tech-stack__title common__title">Стек технологий</h3>
        <div class=tech-stack__list>
            <div class=tech-stack__item><h4 class=tech-stack__item-title>sync/ async frameworks backend</h4><h5
                    class=tech-stack__item-sub-title>Разработка программного кода</h5>
                <p class=tech-stack__item-tags><span class=tech-stack__item-tag>django/tornado,</span> <span
                        class=tech-stack__item-tag>python,</span> <span class=tech-stack__item-tag>spring,</span> <span
                        class=tech-stack__item-tag>java</span></div>
            <div class=tech-stack__item><h4 class=tech-stack__item-title>sux/ui design</h4><h5
                    class=tech-stack__item-sub-title>Продающий целевой дизайн</h5>
                <p class=tech-stack__item-tags><span class=tech-stack__item-tag>adobe,</span> <span
                        class=tech-stack__item-tag>sketch,</span></div>
            <div class=tech-stack__item><h4 class=tech-stack__item-title>frontend</h4><h5
                    class=tech-stack__item-sub-title>Разработка пользовательского интерфейса</h5>
                <p class=tech-stack__item-tags><span class=tech-stack__item-tag>angular/vue</span></div>
            <div class=tech-stack__item><h4 class=tech-stack__item-title>qa</h4><h5 class=tech-stack__item-sub-title>
                Система непрерывной интеграции</h5>
                <p class=tech-stack__item-tags><span class=tech-stack__item-tag>jenkins - hudson</span></div>
            <div class=tech-stack__item><h4 class=tech-stack__item-title>balancing</h4><h5
                    class=tech-stack__item-sub-title>Балансировка нагрузки на транспортном уровне</h5>
                <p class=tech-stack__item-tags><span class=tech-stack__item-tag>haproxy,</span> <span
                        class=tech-stack__item-tag>nginx,</span> <span class=tech-stack__item-tag>cloudflare</span>
            </div>
            <div class=tech-stack__item><h4 class=tech-stack__item-title>support</h4><h5
                    class=tech-stack__item-sub-title>Техническое сопровождение публикации проектов, поддержка и
                верификация приложений в дальнейшем</h5>
                <p class=tech-stack__item-tags><span class=tech-stack__item-tag>seo,</span> <span
                        class=tech-stack__item-tag>server configuration and product deployment</span></div>
        </div>
        <div class=tech-stack__carousel><img src="{{ settings['img_path'] }}brands/cloudflare.png" alt="">
            <img
                src="{{ settings['img_path'] }}brands/modern-agile.png" alt="">
            <img src="{{ settings['img_path'] }}brands/docker.png" alt="">
            <img
                src="{{ settings['img_path'] }}brands/happroxy.png" alt="">
            <img src="{{ settings['img_path'] }}brands/nginx.png" alt=""> <img
                src="{{ settings['img_path'] }}brands/aws.png" alt="">
            <img src="{{ settings['img_path'] }}brands/cloudflare.png" alt=""> <img
                src="{{ settings['img_path'] }}brands/modern-agile.png" alt="">
            <img src="{{ settings['img_path'] }}brands/docker.png" alt=""> <img
                src="{{ settings['img_path'] }}brands/happroxy.png" alt="">
            <img src="{{ settings['img_path'] }}brands/nginx.png" alt=""> <img
                src="{{ settings['img_path'] }}brands/aws.png" alt=""></div>
    </div>
</section>
<section id=tech-processes class=tech-processes>
    <div class="tech-processes__container container">
        <div class=tech-processes__container-row>
            <div class=tech-processes__container-col><h3 class=tech-processes__title>Процессы разработки</h3></div>
            <div class=tech-processes__container-col>
                <div class=tech-processes__item><h4
                        class="tech-processes__item-title common__sub-title common__sub-title_orange"><b>1</b><span>есть идея</span>
                </h4>
                    <p class="tech-processes__text common__text">Поможем формализовать, создать дизайн макета или
                        изучить ваш, подготовим прототип</div>
            </div>
            <div class=tech-processes__container-col>
                <div class=tech-processes__item><h4
                        class="tech-processes__item-title common__sub-title common__sub-title_orange"><b>2</b><span>есть продукт</span>
                </h4>
                    <p class="tech-processes__text common__text">Вольёмся на любой стадии, поддержим текущую
                        инфраструктуру, если требуется доработаем архитектурные решения</div>
            </div>
        </div>
        <div class=tech-processes__container-row>
            <div class=tech-processes__container-col>
                <div class=tech-processes__item><h4
                        class="tech-processes__item-title common__sub-title common__sub-title_orange"><b>3</b><span>нужна оптимизация</span>
                </h4>
                    <p class="tech-processes__text common__text">Ui/UX, сделаем продукт максимально доступным для
                        конечного пользователя. В тесном сотрудничестве поможем сделать акцент на главном и самом ценном
                        в продукте</div>
            </div>
            <div class=tech-processes__container-col>
                <div class=tech-processes__item><h4
                        class="tech-processes__item-title common__sub-title common__sub-title_orange"><b
                        style="padding-left: 21px">4</b><span>публикация</span></h4>
                    <p class="tech-processes__text common__text">Тщательно протестировав и отладив продукт поможем
                        привлечь ваших первых пользователей</div>
            </div>
            <div class=tech-processes__container-col>
                <div class=tech-processes__item><h4
                        class="tech-processes__item-title common__sub-title common__sub-title_orange"><b>5</b><span>сопровождение</span>
                </h4>
                    <p class="tech-processes__text common__text">Сео оптимизация, аналитика, совет в выборе или
                        разработке собственных маркетинговых решений</div>
            </div>
        </div>
    </div>
</section>
<section id=portfolio class=portfolio>
    <div class="portfolio__container container"><h3 class="portfolio__title common__title">Портфолио</h3>
        <div class=portfolio__carousel>
            <div class=portfolio__carousel-item>
                <div class=portfolio__carousel-item-pic><img src="{{ settings['img_path'] }}tls@2x.png" alt="Talasa telecom">
                    <div class=portfolio__carousel-item-details>
                        <button class=portfolio__carousel-item-button type=button>подробнее</button>
                    </div>
                </div>
                <h4 class=portfolio__carousel-item-title><a href=#>Talasa telecom</a></h4><h5
                    class=portfolio__carousel-item-sub-title>Сервис IP-телефонии</h5>
                <p class="portfolio__carousel-item-description common__text">Технические характеристики, указывающие на
                    сложность продукта, технологии, использованные при создании и работы, которые были произведены: seo,
                    server configuration and product deployment</div>
            <div class=portfolio__carousel-item>
                <div class=portfolio__carousel-item-pic><img src="{{ settings['img_path'] }}changal.jpg" alt=Changal>
                    <div class=portfolio__carousel-item-details>
                        <button class=portfolio__carousel-item-button type=button>подробнее</button>
                    </div>
                </div>
                <h4 class=portfolio__carousel-item-title><a href=#>Changal</a></h4><h5
                    class=portfolio__carousel-item-sub-title>Сервис доставки еды</h5>
                <p class="portfolio__carousel-item-description common__text">Технические характеристики, указывающие на
                    сложность продукта, технологии, использованные при создании и работы, которые были произведены: seo,
                    server configuration and product deployment</div>
            <div class=portfolio__carousel-item>
                <div class=portfolio__carousel-item-pic><img src="{{ settings['img_path'] }}postsovet.jpg" alt="Talasa telecom">
                    <div class=portfolio__carousel-item-details>
                        <button class=portfolio__carousel-item-button type=button>подробнее</button>
                    </div>
                </div>
                <h4 class=portfolio__carousel-item-title><a href=#>Postsovet</a></h4><h5
                    class=portfolio__carousel-item-sub-title>Новостной портал</h5>
                <p class="portfolio__carousel-item-description common__text">Технические характеристики, указывающие на
                    сложность продукта, технологии, использованные при создании и работы, которые были произведены: seo,
                    server configuration and product deployment</div>
            <div class=portfolio__carousel-item>
                <div class=portfolio__carousel-item-pic><img src="{{ settings['img_path'] }}tls@2x.png" alt="Talasa telecom">
                    <div class=portfolio__carousel-item-details>
                        <button class=portfolio__carousel-item-button type=button>подробнее</button>
                    </div>
                </div>
                <h4 class=portfolio__carousel-item-title><a href=#>Talasa telecom</a></h4><h5
                    class=portfolio__carousel-item-sub-title>Сервис IP-телефонии</h5>
                <p class="portfolio__carousel-item-description common__text">Технические характеристики, указывающие на
                    сложность продукта, технологии, использованные при создании и работы, которые были произведены: seo,
                    server configuration and product deployment</div>
            <div class=portfolio__carousel-item>
                <div class=portfolio__carousel-item-pic><img src="{{ settings['img_path'] }}changal.jpg" alt=Changal>
                    <div class=portfolio__carousel-item-details>
                        <button class=portfolio__carousel-item-button type=button>подробнее</button>
                    </div>
                </div>
                <h4 class=portfolio__carousel-item-title><a href=#>Changal</a></h4><h5
                    class=portfolio__carousel-item-sub-title>Сервис доставки еды</h5>
                <p class="portfolio__carousel-item-description common__text">Технические характеристики, указывающие на
                    сложность продукта, технологии, использованные при создании и работы, которые были произведены: seo,
                    server configuration and product deployment</div>
            <div class=portfolio__carousel-item>
                <div class=portfolio__carousel-item-pic><img src="{{ settings['img_path'] }}postsovet.jpg" alt="Talasa telecom">
                    <div class=portfolio__carousel-item-details>
                        <button class=portfolio__carousel-item-button type=button>подробнее</button>
                    </div>
                </div>
                <h4 class=portfolio__carousel-item-title><a href=#>Postsovet</a></h4><h5
                    class=portfolio__carousel-item-sub-title>Новостной портал</h5>
                <p class="portfolio__carousel-item-description common__text">Технические характеристики, указывающие на
                    сложность продукта, технологии, использованные при создании и работы, которые были произведены: seo,
                    server configuration and product deployment</div>
        </div>
    </div>
</section>
<footer class=footer>
    <section class=feedback>
        <div class="feedback__container container"><h3 class=feedback__title>Напишите нам</h3><h4
                class="feedback__sub-title feedback__sub-title_top">по всем интересующим вопросам и наш сотрудник
            свяжется с Вами в ближайшее время</h4>
            <form id=feedbackForm class=feedback__form action="/send" method="post">
                <div class=feedback__form-row>
                    <div class=feedback__form-col>
                        <div class=feedback__form-control><input class=feedback__form-input name=name
                                                                 placeholder="Ваше имя*" required></div>
                        <div class=feedback__form-control><input class=feedback__form-input name=email type=email
                                                                 placeholder=E-mail* required></div>
                    </div>
                    <div class=feedback__form-col>
                        <div class=feedback__form-control><textarea class=feedback__form-textarea name=message cols=30
                                                                    rows=10 placeholder="Текст сообщения*"
                                                                    required></textarea></div>
                    </div>
                </div>
                <div class="feedback__form-row feedback__form-row_buttons feedback__form-row_space-between">
                    <div class=feedback__attachment><label class=feedback__attachment-label id=file-label
                                                           for=file><span>Прикрепить</span></label><input
                            class=feedback__attachment-input id=file multiple type=file></div>
                    <button class="feedback__button feedback__button_submit" type=submit>отправить</button>
                    <p class=feedback__note>Нажимая на кнопку Отправить, я даю согласие на обработку персональных данных
                </div>
            </form>
            <h4 class="feedback__sub-title feedback__sub-title_bottom">или позвоните 8 800 000 0001</h4>
            <div class=feedback__copyright>2018 © bc-ideas.com</div>
        </div>
    </section>
</footer>
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js></script>
<script src=https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js></script>
<script src=https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14/dist/smooth-scroll.polyfills.min.js></script>
<script src=https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0/dist/smooth-scroll.polyfills.min.js></script>
<script src=https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js></script>
<script src="{{ settings['js_path'] }}"></script>